
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <img style="width:65px;" src="../../assets/IT-FRAME.png" alt="logo" />
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#myNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="myNav" class="collapse navbar-collapse">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link home">{{'home' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link" data-target="#about">{{'about_me' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="#service" class="nav-link" data-target="#service"
            >{{'services' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link" data-target="#contact">{{'contact' | translate}}</a>
        </li>
        <li class="nav-item flags">
          <img src="../../assets/uk.png" (click)="changeLang('en')">
          <img style="margin-left:15px" src="../../assets/am.png" (click)="changeLang('am')">
        </li>
      </ul>

    </div>
  </div>
</nav>
<section class="slider d-flex">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="info d-flex flex-column h-100 align-items-start justify-content-center"
    >
      <h1 class="font-weight-bold "
      [ngClass]="{ 'wow':!isDevice,'animated':!isDevice,'bounceIn':!isDevice}"

       >{{"welcome" | translate}}</h1>
      <p class="  "
      [ngClass]="{ 'wow':!isDevice,'animated':!isDevice,'bounceIn':!isDevice}"

      >
        {{'welcome_text' | translate}}
      </p>
    </div>
  </div>
</section>
<section id="feature" class="feature text-center">
  <div class="container">
    <h2
      class="main-header  fadeIn "
      data-wow-duration="2s"
      data-wow-offset="60"
      [ngClass]="{ 'wow':!isDevice,'animated':!isDevice}"

    >
      {{'engagement' | translate}} 
    </h2>
    <p
      class="main-p  fadeIn  text-center"
      data-wow-duration="2s"
      data-wow-offset="60"
      [ngClass]="{ 'wow':!isDevice,'animated':!isDevice}"
    >
      
    </p>
    <div class="row">
      <div
        class="col-sm-6 col-lg-3 mb-5"
        [ngClass]="{'zoomIn': !isDevice, 'wow':!isDevice,'animated':!isDevice}"
        data-wow-duration="1s"
        data-wow-offset="100"
      >
        <div class="box">
          <i class="fa fa-globe fa-2x fa-fw" aria-hidden="true"></i>
          <div class="f-info">
            <h5>{{'web_dev_and_des_h' | translate}}</h5>
            <p>
              {{'web_dev_and_des_p_s' | translate}}
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-sm-6 col-lg-3 mb-5 "
        data-wow-duration="1s"
        data-wow-offset="120"
        [ngClass]="{'zoomIn': !isDevice, 'wow':!isDevice,'animated':!isDevice}"
      >
        <div class="box">
          <i class="fa fa-mobile fa-2x fa-fw" aria-hidden="true"></i>
          <div class="f-info">
            <h5>{{'mob_app' | translate}}</h5>
            <p>
              {{'mob_app_p_s' | translate}}
            </p>
          </div>
        </div>
      </div>
      <div
      class="col-sm-6 col-lg-3 mb-5 "
      data-wow-offset="120"
      data-wow-duration="1s"
      [ngClass]="{'slideInRight': !isDevice, 'wow':!isDevice,'animated':!isDevice}"
    >
      <div class="box">
        <i class="fa fa-pencil fa-2x fa-fw" aria-hidden="true"></i>
        <div class="f-info">
          <h5>{{'ui_ux_h' | translate}}</h5>
          <p>
            {{'ui_ux_p_s' | translate}}
          </div>
      </div>
    </div>
      <div
        class="col-sm-6 col-lg-3 mb-5"
        data-wow-offset="120"
        data-wow-duration="1s"
        [ngClass]="{'slideInRight': !isDevice, 'wow':!isDevice,'animated':!isDevice}"
      >
        <div class="box">
          <i class="fa fa-line-chart fa-2x fa-fw" aria-hidden="true"></i>
          <div class="f-info">
            <h5>{{'it_management_h' | translate}}</h5>
            <p>
              {{'it_management_p_s' | translate}}
            </div>
        </div>
      </div>
   
    </div>
  </div>
</section>
<section id="about" class="about">
  <div class="container">
    <h2
      class="main-header text-center "
      data-wow-duration="1s"
      data-wow-offset="60"
      [ngClass]="{'bounceIn': !isDevice, 'wow':!isDevice,'animated':!isDevice}"
    >
    {{'about_us' | translate}}
  </h2>
    <p
      class="main-p text-center "
      data-wow-duration="1s"
      data-wow-offset="60"
      [ngClass]="{'bounceIn': !isDevice, 'wow':!isDevice,'animated':!isDevice}"

    >
     
    </p>
    <div class="row">
      <div
        class="col-lg mb-5  "
        data-wow-duration="1s"
        data-wow-offset="80"
        [ngClass]="{'slideInLeft': !isDevice, 'wow':!isDevice}"

      >
        <div class="img">
          <img
            src="../../assets/we.png"
            class="img-fluid d-block w-100"
            alt="About Images"
          />
        </div>
      </div>
      <div
        class="col-lg "
        data-wow-duration="1s"
        data-wow-offset="80"
        [ngClass]="{'slideInRight': !isDevice, 'wow':!isDevice,'animated':!isDevice}"

      >
        <h5 class="mt-2">{{'who_we_are' | translate}}</h5>
        <p class="mb-4">
          {{'our_text' | translate}}
        </p>
        <h5>{{'what_we_offer' | translate}}</h5>
        <p class="mb-4">     

        </p>
        <div class="row">
        <div class="col">
        <ol class="list-unstyled">
        <li>
        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span>{{'clean_code' | translate}}</span>
        </li>
        <li>
        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span>{{'individual_ap' | translate}}</span>
        </li>
        <li>
            <i class="fa fa-check fa-fw" aria-hidden="true"></i>
            <span>{{'honesty' | translate}}</span>
            </li>
        </ol>
        </div>
        <div class="col">
        <ol class="list-unstyled">
        <li>
        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span>{{'reliable_services' | translate}}</span>
        </li>
        <li>
        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span>{{'friendly_atm' | translate}}</span>
        </li>
        <li>
            <i class="fa fa-check fa-fw" aria-hidden="true"></i>
            <span>{{'devotion' | translate}}</span>
            </li>
        </ol>
        </div>
        </div>
     
      </div>
    </div>
  </div>
</section>
<section id="service" class="service">
  <div class="container">
    <h2
      class="main-header text-center "
      data-wow-duration="1s"
      data-wow-offset="60"
      [ngClass]="{'bounceIn': !isDevice, 'wow':!isDevice,'animated':!isDevice}"

    >
      {{'our_services' | translate}}
    </h2>
    <p
      class="main-p text-center "
      data-wow-duration="1s"
      data-wow-offset="60"
      [ngClass]="{'bounceIn': !isDevice, 'wow':!isDevice,'animated':!isDevice}"

    >
    </p>
    <div class="row">
      <div
        class="col-sm-6 col-lg-4 col-xl-6 mb-5 "
        data-wow-duration="1.5s"
        data-wow-offset="70"
        [ngClass]="{'zoomInLeft': !isDevice, 'wow':!isDevice,'animated':!isDevice}"

      >
        <div class="box">
            <div class="boxtext" #div1>

          <i class="fa fa-globe fa-3x fa-fw" aria-hidden="true"></i>
          <h5>{{'web_dev_and_des_h' | translate}}</h5>
          <p>
              {{'web_dev_and_des_p' | translate}}          </p>
              </div>
              <a class="btn btn-info mr-3" style="width:100px;margin-top:10px" (click)="overfl(div1,me1,me11)" #me1>Read More</a>
              <a class="btn btn-info mr-3"  style="display: none;width:100px;margin-top:10px" (click)="overfl1(div1,me11,me1)" #me11>Read Less</a>

        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-6 mb-5 "
        data-wow-duration="1.5s"
        data-wow-offset="70"
        [ngClass]="{'zoomInUp': !isDevice, 'wow':!isDevice,'animated':!isDevice}"

      >
        <div class="box">
            <div class="boxtext" #div2>

          <i class="fa fa-mobile fa-3x fa-fw" aria-hidden="true"></i>
          <h5>{{'mob_app_h' | translate}}</h5>
          <p>
            {{'mob_app_p' | translate}}
          </p>
          </div>
          <a class="btn btn-info mr-3" style="width:100px;margin-top:10px" (click)="overfl(div2,me2,me22)" #me2>Read More</a>
          <a class="btn btn-info mr-3"  style="display: none;width:100px;margin-top:10px" (click)="overfl1(div2,me22,me2)" #me22>Read Less</a>

        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-6 mb-5 "
        data-wow-offset="70"
        data-wow-duration="1.5s"
        [ngClass]="{'zoomInDown': !isDevice, 'wow':!isDevice,'animated':!isDevice}"

      >
        <div class="box">
          <div class="boxtext" #div3>
          <i class="fa fa-pencil fa-3x fa-fw" aria-hidden="true"></i>
          <h5>{{'ui_ux_h' | translate}}</h5>
          <p>
            {{'ui_ux_p' | translate}}
          </p> </div>
          <a class="btn btn-info mr-3" style="width:100px;margin-top:10px" (click)="overfl(div3,me3,me33)" #me3>Read More</a>
          <a class="btn btn-info mr-3"  style="display: none;width:100px;margin-top:10px" (click)="overfl1(div3,me33,me3)" #me33>Read Less</a>

        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-6 mb-5 "
        data-wow-duration="1.5s"
        data-wow-offset="80"
        [ngClass]="{'zoomInLeft': !isDevice,'wow':!isDevice,'animated':!isDevice}"

      >
        <div class="box">
            <div class="boxtext" #div4>

          <i class="fa fa-line-chart fa-3x fa-fw" aria-hidden="true"></i>
          <h5>{{'it_management_h' | translate}}</h5>
          <p>
            {{'it_management_p' | translate}}
          </p>
          </div>
          <a class="btn btn-info mr-3" style="width:100px;margin-top:10px" (click)="overfl(div4,me4,me44)" #me4>Read More</a>
          <a class="btn btn-info mr-3" style="display: none;width:100px;margin-top:10px" (click)="overfl1(div4,me44,me4)" #me44>Read Less</a>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="count">
  <div class="overlay"></div>
  <div class="container">
    <div class="row"   style="display: flex;
    text-align: center; 
   justify-content: center;">
      <div
        class="col-6 col-lg-3 mb-5  fadeIn "
        data-wow-duration="2s"
        data-wow-offset="60"
        [ngClass]="{'wow':!isDevice,'animated':!isDevice}"
    
      >
        <div class="media">
          <i
            class="fa fa-check-square-o fa-2x fa-fw mr-3"
            aria-hidden="true"
          ></i>
          <div class="media-body">
            <span class="timer" data-from="2" data-to="6" data-speed="10000"
              >6</span
            >
            <p>{{'project_done' | translate}}</p>
          </div>
        </div>
      </div>
   
      <div
        class="col-6 col-lg-3 mb-5  "
        data-wow-duration="2s"
        data-wow-offset="60"
        data-wow-delay="2s"
        [ngClass]="{'wow':!isDevice,'animated':!isDevice}"

      >
        <div class="media">
          <i
            class="fa fa-hourglass-start fa-2x fa-fw mr-3"
            aria-hidden="true"
          ></i>
          <div class="media-body">
            <span
              class="timer"
              data-from="100"
              attr.data-to="{{hours}}"
              data-speed="10000"
              >{{hours}}</span
            >
            <p>{{'hours' | translate}}</p>
          </div>
        </div>
      </div>
      <div
        class="col-6 col-lg-3 mb-5  fadeIn "
        data-wow-duration="2s"
        data-wow-offset="60"
        data-wow-delay="3s"
        [ngClass]="{'wow':!isDevice,'animated':!isDevice}"

      >
        <div class="media">
          <i class="fa fa-coffee fa-2x fa-fw mr-3" aria-hidden="true"></i>
          <div class="media-body">
            <span class="timer" data-from="25" data-to="422" data-speed="10000"
              >422</span
            >
            <p>{{'cup' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contact">
  <div class="container">
    <h2
      class="main-header text-center "
      data-wow-duration="2s"
      data-wow-offset="60"
      [ngClass]="{'wow':!isDevice,'animated':!isDevice, 'bounceIn':!isDevice}"

    >
      {{'contact_us' | translate}}
    </h2>
    <p
      class="main-p text-center mb-5 "
      data-wow-duration="2s"
      data-wow-offset="60"
      [ngClass]="{'wow':!isDevice,'animated':!isDevice, 'bounceIn':!isDevice}"

    >
    </p>
    <div class="box-contact">
      <div class="row mt-5">
        <div
          class="col-md mb-4 "
          data-wow-duration="2s"
          data-wow-offset="80"
          [ngClass]="{'wow':!isDevice,'animated':!isDevice, 'fadeIn':!isDevice}"

        >
          <i class="fa fa-mobile fa-2x fa-fw" aria-hidden="true"></i>
          <p>+37441787088</p>
        </div>
        <div
          class="col-md mb-4 "
          data-wow-duration="2s"
          data-wow-offset="80"
          [ngClass]="{'wow':!isDevice,'animated':!isDevice, 'fadeIn':!isDevice}"

        >
          <i class="fa fa-mail-reply fa-2x fa-fw" aria-hidden="true"></i>
          <p>info@itframe.com</p>
        </div>
        <div
          class="col-md "
          data-wow-duration="2s"
          data-wow-offset="80"
          [ngClass]="{'wow':!isDevice,'animated':!isDevice, 'fadeIn':!isDevice}"

        >
          <i class="fa fa-clock-o fa-2x fa-fw" aria-hidden="true"></i>
          <p>{{'mon_fri' | translate}} 10:00 – 19:00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="form">
      
      <div class="row">
        <div
          class="col-lg"
          data-wow-duration="1s"
          data-wow-offset="100"
          [ngClass]="{'slideInLeft': !isDevice, 'wow':!isDevice,'animated':!isDevice}"

        >

          <form [formGroup]="messageForm">

            <div class="form-group">
              <input
                type="text"
                formControlName="name"
                name="user"
                class="form-control"
                placeholder="{{'your_name' | translate}}"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="email"
                formControlName="email"
                class="form-control"
                placeholder="{{'your_email' | translate}}"
                email
              />
            </div>
            <textarea
              class="form-control form-group"
              placeholder="{{'message' | translate}}"
              rows="10"
              formControlName="message"
            ></textarea>
            <button type="submit" (click)="send()" [disabled]="messageForm.invalid" class="btn" [ngClass]="{'invalid-btn':messageForm.invalid, 'btn-danger':messageForm.valid}">
              <i class="fa fa-send fa-fw mr-1"></i>{{'send_message' | translate}}
            </button>
          </form>
        </div>
        <div
          class="col-lg mt-5 mt-lg-0"
          data-wow-offset="100"
          data-wow-duration="1s"
          [ngClass]="{'slideInRight': !isDevice,'wow':!isDevice,'animated':!isDevice}"

        >
        
        <div style="overflow:hidden;width: 700px;height: 440px;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=koryun%2019a+(%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div><small><a href="https://embedgooglemaps.com/it/">embedgooglemaps IT</a></small></div><div><small><a href="https://iamsterdamcard.it">http://iamsterdamcard.it/</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <span
    ><sup>&copy;</sup> 2018 CopyRight All Right Reversed For ITFrame LLC</span
  >
</footer>
<section class="top"><i class="fa fa-arrow-up" aria-hidden="true"></i></section>
<section class="loading">
  `
  <div class="spinner"> 
    <div class="cube1"></div>
    <div class="cube2"></div>
   
  </div>
 
</section>
